$box_shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
$box_shadow_strong: 0 6px 20px rgba(0, 0, 0, 0.5);
$box_shadow_weak: 0 3px 6px rgba(0, 0, 0, 0.16);

$font_weight_bold: 700;

$color_blue: rgb(87, 142, 217);
$color_red: rgb(172, 65, 51); // #AC4133
$color_green: rgb(33, 168, 101); // #21A865
$color_yellow: rgb(201, 139, 0); // #C98B00
$color_purple: rgb(137, 61, 178); // #893db2

@mixin flex_center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex_between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@mixin flex_start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

@mixin flex_end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

@mixin flex_col_start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin fade_animation {
  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }
  .v-enter {
    opacity: 0;
  }
  .v-enter-to {
    opacity: 1;
  }
  .v-leave {
    opacity: 1;
  }
  .v-leave-to {
    opacity: 0;
  }
}
