/* ========================================================================
   Component: Base
 ========================================================================== */
html {
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 3.2vw;
  font-weight: normal;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-size: 3.2vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
/* ========================================================================
   Component: Button
 ========================================================================== */
/* 基本ボタン */
.tmp_button {
  padding: 0.7em 1.6em;
  min-width: 5em;
  border: 1px solid #000;
  border-radius: 0;
  background: #fff;
  font-size: 1.02em;
  color: #000;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.tmp_button:disabled {
  color: #ddd;
  border-color: #ddd;
}
.tmp_button:not(:disabled) {
  cursor: pointer;
}
/*
 * Remove the inner border and padding in Firefox.
 */
.tmp_button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Hover + Focus */
.tmp_button:hover,
.tmp_button:focus {
  text-decoration: none;
  outline: none;
}
/* OnClick + Active */
.tmp_button:active,
.tmp_button.tmp_is-active {
  background: #000;
  color: #fff;
}
/* ========================================================================
   Component: Margin
 ========================================================================== */
.tmp_mb-50 {
  margin-bottom: 8.3vw !important;
}
/* ========================================================================
   Component: Padding
 ========================================================================== */
.tmp_py-25 {
  padding-top: 4.25vw !important;
  padding-bottom: 4.25vw !important;
}
.tmp_pt-50 {
  padding-top: 8.5vw !important;
}
.tmp_px-85 {
  padding-left: 14.45vw !important;
  padding-right: 14.45vw !important;
}
/* ========================================================================
   Component: Text
 ========================================================================== */
/* reset */
p {
  margin: 0;
}
/* Size modifiers
 ========================================================================== */
.tmp_text-medium {
  font-size: 1.2em;
}

/* Alignment modifiers
 ========================================================================== */
.tmp_text-center {
  text-align: center !important;
}
